:root {
  --font-family: "Open Sans", sans-serif;
  /* --second-family: "NAMU", sans-serif; */
  --second-family: "NAMUPro", sans-serif;

  /* colors */
  --main-color: #111111;
  --accent-color: #c5358c;
  --light-gray: #ababab;
  --success-color: #68ae5c;
  --hero-bg-color: #dddddd;
  --bg-color: #ffffff;
  --secondary-color: #ffffff;
  --disable-color: #5d5d56;

  /* container */
  --container-width: 1360px;
  --container-padding: 15px;

  /* transitions */

  --transition-time: 0.2s;
}
