.advantages__wrapper {
  display: grid;
  align-items: center;
  gap: 20px;
}

@media (width > 1200px) {
  .advantages__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  }
}

@media (width <=1200px) {
  .advantages__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  }
}

@media (width <=768px) {
  .advantages__wrapper {
    justify-content: center;
    grid-template-columns: repeat(1, 350px);
  }
}

.advantages__article {
  box-shadow: 0 3px 28px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width<=768px) {
  .advantages__article {
    flex-direction: row;
    padding: 10px 14px 10px 10px;
    gap: 40px;
    justify-content: center;
  }
}

.advantages__article-img {
  margin-bottom: 15px;
}

.advantages__title {
  font-family: var(--second-family);
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.advantages__text {
  font-family: var(--font-family);
  font-weight: 300;
  line-height: 130%;
  text-align: center;
  color: var(--main-color);
}

@media (width > 1200px) {
  .advantages__title {
    margin-bottom: 13px;
    font-size: 20px;
  }
  .advantages__text {
    font-size: 18px;
    margin-bottom: 41px;
  }
}

@media (width <=1200px) {
  .advantages__title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .advantages__text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .advantages__article-img {
    margin-bottom: 11px;
    width: 74px;
    height: 74px;
  }
}

@media (width<=768px) {
  .advantages__text {
    margin-bottom: 0;
    text-align: left;
  }
}
