.categories__container {
  display: grid;
}

@media (width > 1200px) {
  .categories__container {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 20px;
  }
}

@media (width <= 1200px) {
  .categories__container {
    grid-template-columns: repeat(4, minmax(142px, 1fr));
    gap: 20px;
  }
}

@media (width <= 768px) {
  .categories__container {
    grid-template-columns: repeat(auto-fit, minmax(139px, 1fr));
    gap: 10px;
  }
}

.categories__card-link {
  border-radius: 3px;
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
  background: var(--secondary-color);
}
.categories__card-arrow {
  transition: fill var(--transition-time);
}

@media (any-hover: hover) {
  .categories__card-link:hover {
    .categories__card-info {
      background: var(--main-color);
      color: var(--secondary-color);
    }
    .categories__card-arrow {
      fill: var(--secondary-color);
    }
  }
}

.categories__card-info {
  font-family: var(--second-family);
  color: var(--main-color);
  border-radius: 0px 0px 3px 3px;
  transition:
    color var(--transition-time),
    background var(--transition-time);
}

@media (width > 1200px) {
  .categories__card-info {
    padding: 20px 40px 30px;
  }
  .categories__card-title {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 11px;
  }
  .categories__card-text {
    font-weight: 400;
    font-size: 24px;
  }
}

@media (width <= 1200px) {
  .categories__card-info {
    padding: 10px 14px 15px;
  }
  .categories__card-title {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .categories__card-text {
    font-weight: 400;
    font-size: 12px;
  }
}

.categories__card-flex {
  display: flex;
  align-items: center;
}

@media (width > 1200px) {
  .categories__card-flex {
    gap: 20px;
  }
}
@media (width <= 1200px) {
  .categories__card-flex {
    gap: 8px;
  }
}

@media (width <=1200px) {
  .categories__card-img {
    width: 142px;
    height: 142px;
  }
  .categories__card-arrow {
    width: 14px;
    height: 12px;
  }
}

/* @media (width <=768px) {
  .categories__card-img {
    width: 170px;
    height: 170px;
  }
  .categories__card-arrow {
    width: 12px;
    height: 11px;
  }
} */
