.hero__section {
  padding-top: 25px;
  background: var(--hero-bg-color);
  position: relative;
}

@media (width <=768px) {
  .hero__section {
    padding-top: 50px;
  }
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width <=768px) {
  .hero__wrapper {
    flex-direction: column;
    min-height: 389px;
  }
}

.hero__content {
  max-width: 556px;
}

.hero__content-title {
  font-family: var(--second-family);
  font-weight: 900;
  color: var(--main-color);
}

@media (width > 1200px) {
  .hero__content-title {
    font-size: 46px;
    line-height: 103%;
    margin-bottom: 40px;
  }
}

@media (width <= 1200px) {
  .hero__content-title {
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 20px;
  }
}

@media (width <= 768px) {
  .hero__content-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.hero__content-text {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
}

@media (width > 1200px) {
  .hero__content-text {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 90px;
  }
}

@media (width <= 1200px) {
  .hero__content-text {
    max-width: 170px;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 40px;
  }
}

@media (width <= 768px) {
  .hero__content-text {
    margin-bottom: 30px;
  }
}

.hero__content-link {
  border-radius: 3px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--secondary-color);
  background: var(--accent-color);
  transition: background var(--transition-time);
}
@media (any-hover: hover) {
  .hero__content-link:hover {
    background: var(--main-color);
  }
}

@media (width > 1200px) {
  .hero__content-link {
    padding: 15px 50px;
    font-size: 24px;
  }
}

@media (width <= 1200px) {
  .hero__content-link {
    padding: 7px 25px;
    font-size: 16px;
  }
}

@media (width <= 1200px) {
  .hero__content-picture {
    flex-shrink: 0;
  }

  .hero__content-img {
    width: 374px;
    height: 389px;
  }
}

@media (width <= 768px) {
  .hero__content-img {
    display: none;
  }
}

@media (width > 768px) {
  .hero__content-img-mini {
    display: none;
  }
}

@media (width <= 768px) {
  .hero__content-img-mini {
    display: block;
    position: absolute;
    width: 280px;

    bottom: 0;
    right: 0;
  }
}
