.catalog__title-accent {
  color: var(--accent-color);
}

.catalog__filters-btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@media (width > 1200px) {
  .catalog__filters-btns {
    gap: 57px;
  }
}

@media (width <=1200px) {
  .catalog__filters-btns {
    gap: 27px;
    margin-bottom: 30px;
  }
}

.catalog__filters-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

@media (width < 768px) {
  .catalog__filters-wrapper {
    gap: 8px;
  }
  .catalog__filters-btn--none {
    display: none;
  }
}

.catalog__filters__item:last-child {
  margin-left: auto;
}

.catalog__filters-button {
  border: 1px solid var(--main-color);
  border-radius: 31px;
  padding: 6px 20px 7px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
  transition:
    color var(--transition-time),
    border var(--transition-time);
}

@media (any-hover: hover) {
  .catalog__filters-button:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.catalog__filters-link {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  margin-left: auto;
  transition:
    color var(--transition-time),
    border var(--transition-time);
}
@media (any-hover: hover) {
  .catalog__filters-link:hover {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }
}

@media (width > 1200px) {
  .catalog__filters-button {
    font-size: 18px;
  }
  .catalog__filters-link {
    font-size: 18px;
  }
}

@media (width <=1200px) {
  .catalog__filters-button {
    padding: 6px 13px;
    font-size: 12px;
  }
  .catalog__filters-link {
    font-size: 12px;
  }
}

.catalog__filters-choose {
  display: flex;
  justify-content: flex-end;
}

.catalog__filters-select {
  font-family: var(--font-family);
  font-weight: 400;
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  padding: 7px 25px 8px;
  color: var(--main-color);
}
@media (width > 1200px) {
  .catalog__filters-select {
    font-size: 18px;
  }
}
@media (width <=1200px) {
  .catalog__filters-select {
    font-size: 12px;
    padding: 6px 25px 7px;
  }
}

.catalog__filters-select:hover {
  color: var(--accent-color);
}

.catalog__filters-option {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--main-color);
}

.catalog__products {
  display: flex;
  align-items: center;
  gap: 20px;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__products-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
}

@media (width <=1200px) {
  .catalog__products-article {
    max-width: 196px;
  }
}

@media (width <=768px) {
  .catalog__products-article--none {
    display: none;
  }
}

.catalog__product-title {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: var(--main-color);
  padding: 0px 40px;
  margin-bottom: 25px;
}

@media (width <=1200px) {
  .catalog__product-title {
    font-size: 12px;
    line-height: 130%;
    padding: 0px 12px;
    margin-bottom: 10px;
  }
}

.catalog__product-available {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 40px;
  justify-content: space-between;
  margin-bottom: 8px;
}

@media (width <=1200px) {
  .catalog__product-available {
    margin-bottom: 8px;
    font-size: 12px;
    padding: 0px 12px;
  }
}

.catalog__available-success {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--success-color);
}

.catalog__available-success::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: var(--success-color);
  border-radius: 100%;
}

@media (width <=1200px) {
  .catalog__available-success {
    font-size: 12px;
    gap: 12px;
  }

  .catalog__available-success::before {
    width: 8px;
    height: 8px;
  }
}

.catalog__available-discount {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #f8f8f8;
  border-radius: 3px;
  padding: 10px 20px;
  background: var(--accent-color);
}

@media (width <=1200px) {
  .catalog__available-discount {
    padding: 3px 10px;
    font-size: 16px;
  }
}
.catalog__products-price {
  display: flex;
  align-items: end;
  width: 100%;
  padding: 0px 40px;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media (width <=1200px) {
  .catalog__products-price {
    padding: 0px 12px;
    margin-bottom: 12px;
  }
}

.catalog__price-now {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 42px;
  color: var(--main-color);
}

.catalog__price-before {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 24px;
  text-decoration: line-through;
  color: var(--light-gray);
}

@media (width <=1200px) {
  .catalog__price-now {
    font-size: 20px;
  }
  .catalog__price-before {
    font-size: 12px;
  }
}

.catalog__products-btns {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 130px;
}
@media (width <=1200px) {
  .catalog__products-btns {
    margin-bottom: 40px;
  }
}

.catalog__incremental-btn {
  display: flex;
  align-items: center;
  gap: 50px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 23px 34px;
}

@media (width <=1200px) {
  .catalog__incremental-btn {
    display: none;
  }
}

.catalog__incremental-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 0%;
  color: var(--main-color);
}

.catalog__cart-btn {
  border-radius: 3px;
  padding: 15px 51px;
  background: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--secondary-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .catalog__cart-btn:hover {
    background: var(--accent-color);
  }
}

@media (width <=1200px) {
  .catalog__cart-btn {
    width: 100%;
    font-size: 16px;
  }
}

@media (width <=1200px) {
  .catalog__product-img {
    border-radius: 3px;
    width: 196px;
    height: 196px;
  }
}

.catalog__pages-btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.catalog__pages-controls {
  display: flex;
  gap: 20px;
}
.catalog__pages-left {
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 8px 8px;
}

.catalog__pages-svg--rotate {
  transform: rotate(-180deg);
}

.catalog__pages-count {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--main-color);
}

@media (width <=1200px) {
  .catalog__pages-count {
    font-size: 16px;
  }
  .catalog__pages-svg {
    width: 20px;
    height: 18px;
  }
  .catalog__pages-btns {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .catalog__pages-controls {
    gap: 10px;
  }
}

@media (width <=768px) {
  .catalog__pages-count {
    font-size: 15spx;
  }
  .catalog__pages-svg {
    width: 20px;
    height: 18px;
  }
}
