.contact__flex {
  display: flex;
  justify-content: space-between;
}

@media (width <=768px) {
  .contact__flex {
    flex-direction: column;
    gap: 46px;
  }
}

.contact__wrapper {
  max-width: 555px;
}

.subscribe__wrapper {
  max-width: 555px;
}

.contact__inputs {
  display: flex;
  flex-direction: column;
}

.contact__inputs-name {
  border: none;
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--main-color);
  max-width: 555px;
}

.contact__inputs-name::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--light-gray);
}

@media (width <=1200px) {
  .contact__inputs-name {
    border: none;
    padding: 7px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--main-color);
    max-width: 304px;
  }
  .contact__inputs-name::placeholder {
    font-size: 12px;
  }
}

@media (width <=768px) {
  .contact__inputs-name {
    max-width: 100%;
    margin-bottom: 14px;
    padding: 6px;
  }
}

.contact__input-tel {
  border: none;
  padding: 15px;
  margin-bottom: 70px;
  border-bottom: 1px solid var(--main-color);
  max-width: 555px;
}

.contact__input-tel::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--light-gray);
}

@media (width <=1200px) {
  .contact__input-tel {
    border: none;
    padding: 7px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--main-color);
    max-width: 304px;
  }
  .contact__input-tel::placeholder {
    font-size: 12px;
  }
}

@media (width <=768px) {
  .contact__input-tel {
    max-width: 100%;
    margin-bottom: 36px;
    padding: 6px;
  }
}

.contact__button {
  border-radius: 3px;
  padding: 15px 42px;
  background: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--secondary-color);
  transition: background var(--transition-time);
}

/* .subscribe__wrapper {
  display: flex;
  flex-direction: column;
} */

@media (width <=1200px) {
  .contact__button {
    border-radius: 3px;
    padding: 7px 26px;
    background: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-color);
  }
}

@media (any-hover: hover) {
  .contact__button:hover {
    background: var(--accent-color);
  }
}

.subscribe__input-email {
  border: none;
  padding: 15px;
  margin-bottom: 70px;
  border-bottom: 1px solid var(--main-color);
  width: 100%;
  max-width: 555px;
}

@media (width <=1200px) {
  .subscribe__input-email {
    border: none;
    padding: 7px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--main-color);
    max-width: 304px;
  }
  .subscribe__input-email::placeholder {
    font-size: 12px;
  }
}

@media (width <=768px) {
  .subscribe__input-email {
    max-width: 100%;
    margin-bottom: 42px;
    padding: 6px;
  }
}

.subscribe__button {
  border-radius: 3px;
  padding: 15px 46px;
  background: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 35px;
  transition: background var(--transition-time);
}

@media (any-hover: hover) {
  .subscribe__button:hover {
    background: var(--accent-color);
  }
}

@media (width <=1200px) {
  .subscribe__button {
    border-radius: 3px;
    padding: 7px 26px;
    background: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-color);
  }
}

@media (width <=768px) {
  .subscribe__button {
    margin-bottom: 16px;
  }
}

.subscribe__policy {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 555px;
}

.subscribe__policy-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--main-color);
}

@media (width <=1200px) {
  .subscribe__policy {
    display: flex;
    align-items: center;
    gap: 14px;
    max-width: 304px;
  }
  .subscribe__policy-text {
    font-size: 10px;
  }
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}
.custom-checkbox .checkmark {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.custom-checkbox .checkmark::after {
  content: "";
  width: 100%;
  height: 100%;
  width: 17px;
  height: 11px;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  background: url(../../icons/checkbox.svg) no-repeat center center;
  background-size: contain;
}

@media (width <=1200px) {
  .custom-checkbox .checkmark {
    width: 19px;
    height: 19px;
  }
  .custom-checkbox .checkmark::after {
    width: 11px;
    height: 7px;
  }
}
